<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New person</h3>
</div>

<form data-toggle="validator" name="Uform" role="form" ng-submit="ok(name,username,email,street,suite,city,zipcode,lat,lng,phone,website,coName,catchPhrase,bs)">
    <div class="modal-body" id="modal-body">
        <div class="row-mod">
            <div class="form-group">
                <label for="inputName" class="control-label">Name</label>
                <input type="text" name="name" ng-class="{'error': Uform.$submitted && Uform.name.$error.required}" class="form-control add-input" id="inputName" placeholder="Name" ng-model="people.name" required>
                <span ng-show="Uform.name.$error.required && !Uform.name.$pristine && Uform.name.$touched || (Uform.name.$invalid && Uform.$submitted)" class="input-error" required> Write Name!</span>
            </div>
            <div class="form-group">
                <label for="inputUsername" class="control-label">Username</label>
                <input type="text" name="surname" ng-class="{'error': Uform.$submitted && Uform.surname.$error.required}" class="form-control add-input" id="inputUsername" placeholder="Username" ng-model="people.username" required>
                <span ng-show="Uform.surname.$error.required && !Uform.surname.$pristine && Uform.surname.$touched || (Uform.surname.$invalid && Uform.$submitted)" class="input-error" required> Write Username!</span>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label">Email</label>
                <input type="email" ng-class="{'error': Uform.$submitted && Uform.email.$error.required}" class="form-control add-input" id="inputEmail" name="email" placeholder="Email" data-error="Email address is invalid" ng-model="people.email" required>
                <span class="input-error" ng-show="Uform.email.$invalid && !Uform.email.$pristine && Uform.email.$touched || Uform.$submitted && Uform.email.$invalid"> Email must have "@"</span>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="row-mod">
            <label for="inputAddress" class="control-label">Address</label>
            <div class="form-group">
                <!--ng-model="user.city.value" ng-options="city.value as city.name for city in ctrl.avaliableCities -->
                <input type="text" name="street" ng-class="{'error': Uform.$submitted && Uform.street.$error.required}" class="form-control add-input" id="inputAddress" placeholder="Street" ng-model="people.address.street" required>
            </div>
            <div class="form-group">
                <input type="text" name="suite" ng-class="{'error': Uform.$submitted && Uform.suite.$error.required}" class="form-control add-input" id="inputAddress" placeholder="Suite" ng-model="people.address.suite" required>
            </div>
            <div class="form-group">
                <input type="text" name="city" ng-class="{'error': Uform.$submitted && Uform.city.$error.required}" class="form-control add-input" id="inputAddress" placeholder="City" ng-model="people.address.city" required>
            </div>
            <div class="form-group">
                <input type="number" name="zipcode" class="form-control add-input" id="inputAddress" placeholder="Zipcode" ng-model="people.address.zipcode" required>
            </div>
            <div class="form-group">
                <label for="inputGeo" class="control-label">Geo</label>
                <input type="number" class="form-control add-input" id="inputGeo" placeholder="Latitude" ng-model="people.address.geo.lat" required>
                <input type="number" class="form-control add-input" id="inputGeo" placeholder="Longitude" ng-model="people.address.geo.lng" required>
            </div>
        </div>

        <div class="row-mod">
            <div class="form-group">
                <!-- http://stackoverflow.com/questions/27986173/validate-phone-number-using-angular-js -->
                <label for="inputPhone" class="control-label">Phone</label>
                <input type="number" id="inputPhone" class="form-control add-input" placeholder="(xxx) xxx-xxxx" ng-minlength="10" ng-maxlength="10" ng-model="people.phone" required/>
            </div>
            <div class="form-group">
                <label for="inputWebsite" class="control-label">Website</label>
                <input type="text" class="form-control add-input" id="inputWebsite" placeholder="Website" ng-model="people.website" required>
            </div>
            <div class="form-group">
                <label for="inputCompany" class="control-label">Company</label>
                <div class="form-group">
                    <input type="text" class="form-control add-input" id="inputCompany" placeholder="Name" ng-model="people.company.name" required>
                    <!-- <input type="text" name="company-name" ng-class="{'error': Uform.$submitted && Uform.name.$error.required}" class="form-control add-input" id="inputName" placeholder="Name" ng-model="people.company.name" required>
                          <span ng-show="Uform.name.$error.required && !Uform.name.$pristine && Uform.name.$touched || (Uform.name.$invalid && Uform.$submitted)" class="input-error" required> Write Company Name!</span>
                    --></div>
                <div class="form-group">
                    <input type="text" class="form-control add-input" id="inputCompany" placeholder="Catch phrase" ng-model="people.company.catchPhrase" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control add-input" id="inputCompany" placeholder="BS" ng-model="people.company.bs" required>
                </div>
                <!-- <button type="button" class="btn btn-success" ng-click="addPerson(name,username,email,street,suite,city,zipcode,lat,lng,phone,website,coName,catchPhrase,bs)">
                          <h5>Add new person</h5></button> -->
            </div>
        </div>
        <!-- </form> -->

    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" ng-click="addPerson(name,username,email,street,suite,city,zipcode,lat,lng,phone,website,coName,catchPhrase,bs)"> -->

        <button class="btn btn-success" type="button" ng-click="$ctrl.ok(name,username,email,street,suite,city,zipcode,lat,lng,phone,website,coName,catchPhrase,bs)">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>
