<!DOCTYPE html>
<html ng-app="test">

<head>

    <meta charset="utf-8">
    <title>Devster Lab Test</title>
    <base href="/">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css" charset="utf-8">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script> -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>

    <script src="./js/app.js"></script>
    <script src="./js/controller.js"></script>
    <script src="./js/modalWinController.js"></script>
    <script src="./js/service.js"></script>
</head>

<body ng-controller="mainController as Ctrl">
    <div class="jumbotron text-center">
        <h1>Devster Lab Test</h1>
    </div>
    <div class="container srch">

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchPerson">
                </div>
            </div>
        </form>

        <!-- // -->
        <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
            <script type="ng-template" src="./template/ModalContent.html" id="myModalContent.html"></script>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.open('lg')">Add New Person</button>
            <div class="modal-parent"></div>
        </div>
        <!-- // -->

        <table class="table table-bordered table-striped table-hover">

            <thead>
                <tr>
                    <td>Id</td>
                    <td>
                        <a class='cursor' ng-click="sortType = 'name'; sortReverse = !sortReverse">
                  Name
                  <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                    </td>
                    <td>
                        <a class='cursor' ng-click="sortType = 'username'; sortReverse = !sortReverse">
                Username
                  <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                    </td>
                    <td>
                        <a class='cursor' ng-click="sortType = 'email'; sortReverse = !sortReverse">
                Email
                  <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                    </td>
                    <td>
                        <a class='cursor' ng-click="sortType = 'address.street'; sortReverse = !sortReverse">
                      Address
                    </a>
                    </td>
                    <td>Phone</td>
                    <td>Website</td>
                    <td>
                        <a class='cursor' ng-click="sortType='company.name'; sortReverse = !sortReverse">
                      Company
                    </a>
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="person in people | orderBy:sortType:sortReverse | filter:searchPerson">
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.username }}</td>
                    <td>{{ person.email }}</td>

                    <td>{{ person.address.street }},
                        <br>{{person.address.suite}},
                        <br>{{person.address.city}},
                        <br>{{person.address.zipcode}},
                        <br>Distance to person: {{ person.address.geo }}
                    </td>
                    <!-- fix form - filter -->
                    <td>{{person.phone}}</td>
                    <td>{{person.website}}</td>
                    <td>{{person.company.name}},
                        <br>"{{person.company.catchPhrase}}",
                        <br>{{person.company.bs}}
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</body>

</html>
