<!DOCTYPE html>
<html ng-app="test">

<head>

    <meta charset="utf-8">
    <title>Devster Lab Test</title>
    <base href="/">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css" charset="utf-8">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>

    <script src="./js/app.js"></script>
    <script src="./js/controller.js"></script>
    <script src="./js/modalWinController.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/directive.js"></script>

    <script src="dist/ngclipboard.min.js"></script>


</head>

<body ng-controller="mainController as Ctrl">
    <div class="jumbotron text-center">
        <h1>Devster Lab Test</h1>
    </div>
    <div class="container srch">

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchPerson">
                </div>
            </div>
        </form>

        <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
            <script type="ng-template" src="./template/ModalContent.html" id="myModalContent.html"></script>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.open('lg')">Add New Person</button>
            <div class="modal-parent"></div>
        </div>

        <table class="table table-bordered table-striped table-hover">

            <thead>
                <tr>
                    <td>Id</td>
                    <td>
                        <a class='cursor' ng-click="sortType = 'name'; sortReverse = !sortReverse">
                  Name
                  <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                    </td>
                    <td>
                        <a class='cursor' ng-click="sortType = 'username'; sortReverse = !sortReverse">
                Username
                  <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                    </td>
                    <td>
                        <a class='cursor' ng-click="sortType = 'email'; sortReverse = !sortReverse">
                Email
                  <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                    </td>
                    <td>
                        <a class='cursor' ng-click="sortType = 'address.street'; sortReverse = !sortReverse">
                      Address
                    </a>
                    </td>
                    <td>Phone</td>
                    <td>Website</td>
                    <td>
                        <a class='cursor' ng-click="sortType='company.name'; sortReverse = !sortReverse">
                      Company
                    </a>
                    </td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="person in people | orderBy:sortType:sortReverse | filter:searchPerson">
                    <!-- <div ng-hide="editingData[tableData.id]">{{tableData.name | uppercase}}</div>
      <div ng-show="editingData[tableData.id]"><input type="text" ng-model="tableData.name" /></div> -->

                    <td>{{ person.id }}</td>
                    <td>
                        <div ng-hide='editingData[person.id]'>{{ person.name }}</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.name' ng-enter='update(person)' autofocus></div>
                    </td>
                    <td>
                        <div ng-hide='editingData[person.id]'>{{ person.username }}</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.username' ng-enter='update(person)' autofocus></div>
                    </td>
                    <td>
                        <div ng-hide='editingData[person.id]'>{{ person.email }}</div>
                        <div ng-show='editingData[person.id]'><input type="email" class='edit-input' ng-model='person.email' ng-enter='update(person)' autofocus></div>
                        <button type='button' class='btn btn-info table-btn clipboard-btn' ngclipboard data-clipboard-text={{person.email}}><img src="../assets/images/clipboard.png" alt="Add to Clipboard"></button>
                    </td>

                    <td>
                        <div ng-hide='editingData[person.id]'>{{ person.address.street }},</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.address.street' ng-enter='update(person)' autofocus></div>

                        <div ng-hide='editingData[person.id]'>{{ person.address.suite }},</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.address.suite' ng-enter='update(person)' autofocus></div>

                        <div ng-hide='editingData[person.id]'>{{ person.address.city }},</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.address.city' ng-enter='update(person)' autofocus></div>

                        <div ng-hide='editingData[person.id]'>{{ person.address.zipcode }}</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.address.zipcode' ng-enter='update(person)' autofocus></div>
                        <br>Distance to person: {{ person.address.geo }}
                    </td>
                    <td>
                        <div ng-hide='editingData[person.id]'>{{ person.phone }}</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.phone' ng-enter='update(person)' autofocus></div>
                    </td>
                    <td>
                        <div ng-hide='editingData[person.id]'>{{ person.website }}</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.website' ng-enter='update(person)' autofocus></div>
                    </td>
                    <td>
                        <div ng-hide='editingData[person.id]'>{{ person.company.name }},</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.company.name' ng-enter='update(person)' autofocus></div>
                        <br>
                        <div ng-hide='editingData[person.id]'>"{{ person.company.catchPhrase }}",</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.company.catchPhrase' ng-enter='update(person)' autofocus></div>
                        <br>
                        <div ng-hide='editingData[person.id]'>{{ person.company.bs }}</div>
                        <div ng-show='editingData[person.id]'><input type="text" class='edit-input' ng-model='person.company.bs' ng-enter='update(person)' autofocus></div>
                    </td>
                    <td>
                        <button type='button' class='btn btn-warning table-btn' ng-hide="editingData[person.id]" ng-click="modify(person)"><img src="../assets/images/edit.png" alt="Edit"></button>
                        <button type='button' class='btn btn-success table-btn' ng-show="editingData[person.id]" ng-click="update(person)"><img src="../assets/images/update.png" alt="Edit"></button>
                        <button type='button' class='btn btn-danger table-btn' ng-hide="viewField" ng-click="remove(person.id)"><img src="../assets/images/delete.png" alt="Remove"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
